* {

  font-family: Helvetica;

  margin: 0 auto;
  padding: 0;
  background-color: rgba(31, 41, 55, 1);


}

.wrapper {
  width 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color:  rgb(22, 28, 38);
}

  #navigation {

    background-color: rgb(22, 28, 38);
    position: fixed;
    top: 25;
    z-index: 10;
    width: 100%;
    height: 150px;
}

  #uberschrift
  {
      font-size: 80px;
      font-weight: lighter;
      color: red;
      margin-top: 5px;
      margin-left: 45px;
      text-align: left;
      font-weight: bold;
      background-color: rgb(22, 28, 38);

}


#menu {
  background-color: rgb(22, 28, 38);
  font-size: 40px;
  text-align: left;
  padding-bottom: 15px;
  }


  #spotify {
    text-decoration: none;
    color: #84bd00;
    background-color: rgb(22, 28, 38);
    text-align: center;

  }


  #spotify:hover {
background-color: rgb(22, 28, 38);
color: #red;
border-bottom: solid;
border-width: thin;


}
#netflixicon{
  float: left;
  background-color:rgb(22, 28, 38);
  padding-left: 30%;
  padding-top: 30px;
  padding-right: 20px;
}

#mainpage {
  font-size: 50px;

}


#copyright {
  background-color: rgb(22, 28, 38);
  color: white;
  font-weight: 100;
  font-size: 25px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;


}


#footer {
  background-color: rgb(22, 28, 38);
  height: 90px;
  width: 100%;
  bottom: 0px;
  position: relative;
}

#version {
  background-color: rgb(22, 28, 38);
  color: white;
  font-weight: 100;
  font-size: 25px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;


}



 #text {
   color: white;
   font-weight: 100;
   margin-left: 9%;
   margin-top: 13%;
   margin-bottom:7%;
   font-size: 35px;
  }


table {
  border-collapse: collapse;
  border-style: none;
}

td{
  padding: 1rem;
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 40px;
}

th {
  padding: 3rem;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 50px;
}

th { background: rgb(22, 28, 38);
                }


td:nth-child { background: red; }
#one td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#one td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#one td:nth-child(3) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#one td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}






#two td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#two td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#two td:nth-child(3) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#two td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}






#three td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#three td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#three td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#three td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}






#four td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#four td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#four td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#four td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#five td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#five td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#five td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#five td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#six td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#six td:nth-child(2) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#six
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#six td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}



#seven td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#seven td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#seven
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#seven td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#eight td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#eight td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#eight
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eight td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#nine td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#nine td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#nine
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#nine td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#ten td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#ten td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#ten
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#ten td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#eleven td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#eleven td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#eleven
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eleven td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twelve td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twelve td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twelve
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twelve td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#thirteen td {
font-size: 60px;
padding: 2rem;
background-color: rgb(22, 28, 38);
text-align: center;
}

#tweteen  td {
font-size: 60px;
padding: 2rem;
background-color: rgba(31, 41, 55, 1);
text-align: center;
}



#fourteen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#fourteen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#fourteen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#fourteen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#fifteen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#fifteen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#fifteen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#fifteen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#sixteen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#sixteen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#sixteen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#sixteen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}





#seventeen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#seventeen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#seventeen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#seventeen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#eightteen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#eightteen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#eightteen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eightteen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#nineteen td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#nineteen td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#nineteen
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#nineteen td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twenty td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twenty td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twenty
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twenty td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentyone td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentyone td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentyone
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentyone td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentytwo td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentytwo td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentytwo
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentytwo td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentythree td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentythree td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentythree
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentythree td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentyfour td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentyfour td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentyfour
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentyfour td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentyfive td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentyfive td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentyfive
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentyfive td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}




#twentysix td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twentysix td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twentysix
 td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twentysix td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}
