* {

  font-family: Roboto;

  margin:  auto;
  padding: 0px;
  background-color: rgba(31, 41, 55, 1);


}

.wrapper {
  width 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color:  rgb(22, 28, 38);
}

  #navigation {

    background-color: rgb(22, 28, 38);
    position: fixed;
    top: 25;
    z-index: 10;
    width: 100%;
    height: 150px;
}

  #uberschrift
  {
      font-size: 80px;
      font-weight: lighter;
      color: #84bd00;
      margin-top: 5px;
      margin-left: 45px;
      text-align: left;
      font-weight: bold;
      background-color: rgb(22, 28, 38);

}


#menu {
  background-color: rgb(22, 28, 38);
  font-size: 40px;
  text-align: left;
  padding-bottom: 15px;
  }


  #netflix {
    text-decoration: none;
    color: red;
    background-color: rgb(22, 28, 38);
    text-align: center;

  }


  #netflix:hover {
background-color: #20232a;
color: #red;
border-bottom: solid;
border-width: thin;


}
#spotifyicon{
  float: left;
  background-color:rgb(22, 28, 38);
  padding-left: 30%;
  padding-top: 30px;
  padding-right: 20px;
}






#copyright {
  background-color: rgb(22, 28, 38);
  color: white;
  font-weight: 100;
  font-size: 25px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;


}


#footer {
  background-color: rgb(22, 28, 38);
  height: 90px;
  width: 100%;
  bottom: 0px;
  position: relative;
}

#version {
  background-color: rgb(22, 28, 38);
  color: white;
  font-weight: 100;
  font-size: 25px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;


}


  #mainpage {
    margin-right: 2%;
    margin-left: 2%;

  }


  #text {
    margin-top: 100px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    margin-left: 5%;
  }





table {
  border-collapse: collapse;
  border: none;
  border-style: hidden;


}

td{
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 40px;
  border-width: 0px;

}

th {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 45px;
  border: none;
}

th { background: rgb(22, 28, 38);
                }








                #oone td:nth-child(1) {
                    background-color: rgb(22, 28, 38);
                    text-align: left;
                }

                #oone td:nth-child(2) {
                    background-color: rgba(145, 185, 79, 1);
                    text-align: center;

                }

                #oone td:nth-child(3) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #oone td:nth-child(4) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }

                #oone td:nth-child(5) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #oone td:nth-child(6) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }











                #otwo td:nth-child(1) {
                    background-color: rgb(22, 28, 38);
                    text-align: left;
                }

                #otwo td:nth-child(2) {
                    background-color: rgba(145, 185, 79, 1);
                    text-align: center;

                }

                #otwo td:nth-child(3) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #otwo td:nth-child(4) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }

                #otwo td:nth-child(5) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #otwo td:nth-child(6) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }












                #othree td:nth-child(1) {
                    background-color: rgb(22, 28, 38);
                    text-align: left;
                }

                #othree td:nth-child(2) {
                    background-color: rgba(145, 185, 79, 1);
                    text-align: center;

                }

                #othree td:nth-child(3) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #othree td:nth-child(4) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }

                #othree td:nth-child(5) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #othree td:nth-child(6) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }























                #ofour td:nth-child(1) {
                    background-color: rgb(22, 28, 38);
                    text-align: left;
                }

                #ofour td:nth-child(2) {
                    background-color: rgba(185, 79, 79, 1);
                    text-align: center;

                }

                #ofour td:nth-child(3) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #ofour td:nth-child(4) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }

                #ofour td:nth-child(5) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #ofour td:nth-child(6) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }












                #ofive td:nth-child(1) {
                    background-color: rgb(22, 28, 38);
                    text-align: left;
                }

                #ofive td:nth-child(2) {
                    background-color: rgba(185, 79, 79, 1);
                    text-align: center;

                }

                #ofive td:nth-child(3) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;
                }

                #ofive td:nth-child(4) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }

                #ofive td:nth-child(5) {
                  background-color: rgba(145, 185, 79, 1);;
                  text-align: center;
                }

                #ofive td:nth-child(6) {
                  background-color: rgba(145, 185, 79, 1);
                  text-align: center;

                }


















td:nth-child { background: red; }
#one td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#one td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#one td:nth-child(3) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#one td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}

#one td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#one td:nth-child(6) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}






#two td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#two td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#two td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#two td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}

#two td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#two td:nth-child(6) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}






#three td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#three td:nth-child(2) {
    background-color: #b94f4f;
    text-align: center;

}

#three td:nth-child(3) {
  background-color: #b94f4f;
  text-align: center;
}

#three td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}


#three td:nth-child(5) {
    background-color: rgba(145, 185, 79, 1);
    text-align: center;

}

#three td:nth-child(6) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}








#four td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#four td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#four td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#four td:nth-child(4) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}


#four td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#four td:nth-child(6) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}




#five td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#five td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#five td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#five td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#five td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#five td:nth-child(6) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;

}




#six td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#six td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#six td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#six td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#six td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#six td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}







#seven td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#seven td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#seven td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#seven td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#seven td:nth-child(5) {
  background-color: rgba(145, 185, 79, 1);
  text-align: center;
}

#seven td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}









#eight td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#eight td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#eight td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eight td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#eight td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eight td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}












#nine td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#nine td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#nine td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#nine td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#nine td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#nine td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}










#ten td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#ten td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#ten td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#ten td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#ten td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#ten td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}






#eleven td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#eleven td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#eleven td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eleven td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#eleven td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#eleven td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}







#twelve td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#twelve td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#twelve td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twelve td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#twelve td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#twelve td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}









#space td {

  padding: 2rem;

}


#space td:nth-child(1) {
    background-color: rgba(31, 41, 55, 1);
    text-align: left;
    padding: 2rem;
}

#space td:nth-child(2) {
    background-color: rgba(31, 41, 55, 1);
    text-align: center;
    padding: 2rem;

}

#space td:nth-child(3) {
  background-color: rgba(31, 41, 55, 1);
  text-align: center;
  padding: 2rem;
}

#space td:nth-child(4) {
  background-color: rgba(31, 41, 55, 1);
  text-align: center;
  padding: 2rem;

}


#space td:nth-child(5) {
  background-color: rgba(31, 41, 55, 1);
  text-align: center;
  padding: 2rem;
}

#space td:nth-child(6) {
  background-color: rgba(31, 41, 55, 1);
  text-align: center;
  padding: 2rem;

}












#nextyear  td{

  font-size: 70px;
}



#nextyear td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;

}

#nextyear td:nth-child(2) {
    background-color: rgb(22, 28, 38);
    text-align: center;

}

#nextyear td:nth-child(3) {
  background-color: rgb(22, 28, 38);
  text-align: right;
}

#nextyear td:nth-child(4) {
  background-color: rgb(22, 28, 38);
  text-align: left;

}


#nextyear td:nth-child(5) {
  background-color: rgb(22, 28, 38);
  text-align: center;
}

#nextyear td:nth-child(6) {
  background-color: rgb(22, 28, 38);
  text-align: center;
}








#january td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#january td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#january td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#january td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#january td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#january td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}









#february td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#february td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#february td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#february td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#february td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#february td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}









#march td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#march td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#march td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#march td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#march td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#march td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}



#april td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#april td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#april td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#april td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#april td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#april td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}







#may td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#may td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#may td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#may td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#may td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#may td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#june td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#june td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#june td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#june td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#june td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#june td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#july td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#july td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#july td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#july td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#july td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#july td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#august td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#august td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#august td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#august td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#august td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#august td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#september td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#september td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#september td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#september td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#september td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#september td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#october td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#october td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#october td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#october td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#october td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#october td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#november td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#november td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#november td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#november td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#november td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#november td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}











#december td:nth-child(1) {
    background-color: rgb(22, 28, 38);
    text-align: left;
}

#december td:nth-child(2) {
    background-color: rgba(185, 79, 79, 1);
    text-align: center;

}

#december td:nth-child(3) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#december td:nth-child(4) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}


#december td:nth-child(5) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;
}

#december td:nth-child(6) {
  background-color: rgba(185, 79, 79, 1);
  text-align: center;

}
